* {
    font-family: Arial;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #072A3E;
}

header {
    height: 100px;
    width: 100%;
}

.menu {
    width: 100%;
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo {
    width: 80px;
}

#titulo {
    font-size: 20px;
    font-weight: bold;
}

#DetailsView1 {
    margin-bottom: 50px;
    margin-left: 225px;
    max-width: 50px;
    vertical-align: unset;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.form {
    max-width: 700px;
    width: 100%;
    border: 2px solid #fff;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 16px;
    padding: 24px;
    padding-bottom: 32px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    padding: 10px 0;
    font-size: 24px;
}

.formContent {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.line {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

#btnRegistrar {
    color: #fff;
    padding: 12px 24px;
    background-color: #00B2F1;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 50px rgba(42, 46, 67, 0.1);
}


.selectBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

label {
    font-weight: bold;
}

img {
    width: 40px;
}

table tr td, th {
    border: 1px solid #e6e6e6;
    width: 30px;
    margin: 0;
    max-width: 180px;
    word-wrap: break-word;
    max-height: 10px;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 50px rgba(42, 46, 67, 0.1);
}

th:first-child{
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

tr td {
    padding: 8px;
}
tr td:nth-child(3){
    text-align: center;
}
tr th td {
    max-width: 50px;
}

tr .encabezamiento {
    font-weight: bold;
}

.tableHead {
    background-color: #00B1F1;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
}

tr th {
    padding: 5px 10px;
}

.textInput {
    border-radius: 8px;
    height: 40px;
    border: 1px solid #bababa;
    font-size: 16px;
    padding-left: 16px;
    box-shadow: 0px 4px 50px rgba(42, 46, 67, 0.1);
}

#Dropdownlist1 {
    border-radius: 8px;
    height: 40px;
    border: 1px solid #bababa;
    font-size: 16px;
    gap: 8px;
    padding: 0 4px;
    display: flex;
    box-shadow: 0px 4px 50px rgba(42, 46, 67, 0.1);
}
